# Core
langchain
langchain-core
langchain-community
langchain-ollama
langgraph
pandas
openpyxl
python-dotenv
python-docx
pypdf
requests
certifi
arxiv
superlinked==19.21.1
sentence-transformers
mcp
fastmcp
